.header {
  min-width: $contentMinWidth;
  background-color: $darkBgColor;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
}

.header__content {
  @include grid-container;

  align-items: center;

  box-sizing: border-box;
  padding-top: 21px;

  @include on-small-desktop {
    align-items: center;
    padding-top: 49px;
    padding-bottom: 44px;
  }
}

.header__icons {
  grid-column: 1;
  justify-self: start;

  @include on-tablet {
    grid-column: span 2;
  }
}

.header__nav {
  display: none;

  @include on-small-desktop {
    display: block;
    grid-column: span 8;
    justify-self: center;
  }
}

.header__hire-us {
  grid-column: -2 / -1;
  place-self: start end;

  @include on-tablet {
    grid-column: -3 / -1;
  }

  @include on-small-desktop {
    align-self: center;
  }

  position: relative;
}

.header__hire-us::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: $blueColor;
  border-radius: 4px;
  bottom: -10px;
}

.header__hire-us-link {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;

  @include hover(color, $blueColor);
  @include cursor;
}
